# This is a basic workflow to help you get started with Actions

name: AutoYouthStudy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
  schedule:
    - cron: '0 5 * * *'

  # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9
      
      - name: Install Requirement
        run: |
          pip install --upgrade pip
          pip install -r ./requirements.txt
      
      - name: Working
        run:
          python ./auto_youth_study.py ${{ secrets.MYMID }}
